form {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-image: url("../images/backgrounds/desktop.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    min-width: 950px;
}

.login_box {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 7%;
    width: 35%;
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    opacity: 0.95;
}